{% extends 'base.html.twig' %}

{% block title %}Travel index{% endblock %}

{% block body %}
    <h1>Travel index</h1>
    <table class="table table-striped">
        <thead class="bg-dark text-white">
            <tr>
                <th>Destination</th>
                <th>Details</th>
                <th>FromDate</th>
                <th>ToDate</th>
                <th>MaxGuests</th>
                <th>RetailPrice</th>
                <th>DiscountRate</th>
                <th>Status</th>
                <th>actions</th>

            </tr>
        </thead>
        <tbody>
        {% for travel in travels %}
            <tr>
                <td>{{ travel.destination }}</td>
                <td>{{ travel.details }}</td>
                <td>{{ travel.fromDate ? travel.fromDate|date('Y-m-d') : '' }}</td>
                <td>{{ travel.toDate ? travel.toDate|date('Y-m-d') : '' }}</td>
                <td>{{ travel.maxGuests }}</td>
                <td>{{ travel.retailPrice }}</td>
                <td>{{ travel.discountRate }}</td>
                <td>{{ statusList[travel.status] }}</td>
                <td>
                    <a class="btn btn-secondary btn-block m-2" href="{{ path('travel_show', {'id': travel.id}) }}">show</a>
                    <a class="btn btn-info btn-block m-2" href="{{ path('travel_edit', {'id': travel.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('travel_new') }}">Create new</a>
{% endblock %}
