{% extends 'base.html.twig' %}

{% block title %}Travel index{% endblock %}

{% block body %}
    <div class="row justify-content-center bg bg-primary"><h1>Voyage index</h1></div>
    <table class="table table-striped">
        <thead class="bg-dark text-white">
            <tr>
                <th>Destination</th>
                <th>Detail</th>
                <th>Date debut</th>
                <th>Date fin</th>
                <th>Maximum de voyageurs</th>
                <th>Prix</th>
                <th>Reduction</th>
                <th>Status</th>
                <th>actions</th>

            </tr>
        </thead>
        <tbody>
        {% for travel in travels %}
            <tr>
                <td>{{ travel.destination }}</td>
                <td>{{ travel.details }}</td>
                <td>{{ travel.fromDate ? travel.fromDate|date('d-m-Y') : '' }}</td>
                <td>{{ travel.toDate ? travel.toDate|date('d-m-Y') : '' }}</td>
                <td>{{ travel.maxGuests }}</td>
                <td>{{ travel.retailPrice }}</td>
                <td>{{ travel.discountRate }}</td>
                <td>{{ statusList[travel.status] }}</td>
                <td>
                    <a class="btn btn-secondary btn-block m-2" href="{{ path('travel_show', {'id': travel.id}) }}">Montrer</a>
                    <a class="btn btn-info btn-block m-2" href="{{ path('travel_edit', {'id': travel.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('travel_new') }}">Nouveau</a>
{% endblock %}
