{% extends 'base.html.twig' %}

{% block title %}Travel{% endblock %}

{% block body %}
    <h1>Travel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ travel.id }}</td>
            </tr>
            <tr>
                <th>Destination</th>
                <td>{{ travel.destination }}</td>
            </tr>
            <tr>
                <th>Details</th>
                <td>{{ travel.details }}</td>
            </tr>
            <tr>
                <th>FromDate</th>
                <td>{{ travel.fromDate ? travel.fromDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>ToDate</th>
                <td>{{ travel.toDate ? travel.toDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>MaxGuests</th>
                <td>{{ travel.maxGuests }}</td>
            </tr>
            <tr>
                <th>RetailPrice</th>
                <td>{{ travel.retailPrice }}</td>
            </tr>
            <tr>
                <th>DiscountRate</th>
                <td>{{ travel.discountRate }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ travel.status }}</td>
            </tr>
            <tr>
                <th>ClientCreditCard</th>
                <td>{{ travel.clientCreditCard }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('travel_index') }}">back to list</a>

    <a href="{{ path('travel_edit', {'id': travel.id}) }}">edit</a>

    {{ include('travel/_delete_form.html.twig') }}
{% endblock %}
